.section-about {
	padding-top:30px;
	padding-bottom:20px;
}
.section-services {
	padding-top:50px;
	padding-bottom:30px;
}
.section-iconbox,
.section-counter, bg-image.section-blog-masonry,
.section-clients {
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-team,
.section-clients-2,
.section-iconbox {
	padding-top:50px;
	padding-bottom:50px;
}
.team-members {
	padding-top:30px;
}
.section-newsletters {
	padding-top:50px;
	padding-bottom:50px;
	background-color:#f7f7f7;
}
.section-newsletters .col-md-8 form {
	margin-top: 6px;
}
.section-newsletters .col-md-8 .text-block {
	margin-top: 5px;
}
.section-newsletters.background-size-65 {
	padding-top:0px;
	padding-bottom:0px;
	background-color: transparent;
	padding-bottom: 40px;
}
.section-newsletters.background-size-65 h5 {
	margin:0;
}
.section-newsletters.background-size-65 h2 {
	margin-top: 0;
	margin-bottom: 10px;
}
.section-newsletters.no-bg {
	background: none;
}
.section-newsletters.no-bg h2 {
	margin: 0;
}
.form-newsletters {
	padding-top: 20px;
}
.section-accordion {
	padding-top:50px;
	padding-bottom:20px;
}
.section-contact {
	padding-top:70px;
	padding-bottom:70px;
}
.section-counters {
	padding-top:100px;
	padding-bottom:100px;
}
.section-counters.color {
	background-color:#34495e;
}
.section-counters.color2 {
	background-color:#1abc9c;
}
.counter-items-1,
.counter-items-2,
.counter-items-3,
.counter-items-4,
.iconbox-items,
.welcome-items {
	padding-top:20px;
	padding-bottom:20px;
}
.counter-items-1 .counter .counter-icon {
	font-size:25px;
}
.counter-items-1 .counter .counter-number {
	font-size:40px;
}
.counter-items-1 .counter .counter-text {
	font-size:20px;
}
.counter-items-2 .counter .counter-number {
	font-size:100px;
	color:#ffffff;
}
.counter-items-2 .counter .counter-unit {
	font-size:70px;
	color:#ffffff;
}
.counter-items-2 .counter .counter-text {
	font-size:60px;
	color:#ffffff;
}
.counter-items-3 .counter .counter-icon,
.counter-items-3 .counter .counter-number {
	font-size:40px;
}
.counter-items-3 .counter .counter-text {
	font-size:18px;
}
.counter-items-4 .counter .counter-number {
	font-size:60px;
	color:#ffffff;
}
.counter-items-4 .counter .counter-text {
	font-size:20px;
	color:#ffffff;
}
.section-iconbox.color {
	background-color:#1abc9c;
}
.section-iconbox.color h3,
.section-iconbox.color p {
	color:#ffffff;
}
.section-iconbox.color1 {
	background-color:#f7f7f7;
}
.section-iconbox.color1 .icon-bg {
	color:#ffffff;
	border-color:#d9534f;
	background-color:#d9534f;
}
.section-iconbox.color2 {
	background-color:#34495e;
}
.section-iconbox.color2 i {
	color:#ffffff;
	border-color:#ffffff;
}
.section-iconbox.color2 h3,
.section-iconbox.color2 p {
	color:#ffffff;
}
.section-welcome {
	padding-top: 50px;
	padding-bottom: 30px;
}

@media (max-width: 599px) {
	.section-welcome {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.welcome-items .box {
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	/*background-color:#ffffff;*/
}
.welcome-items .box h4 {
	color: #808080;
	text-align: left;
}
.welcome-items .box h4:hover {
	color: #A880A2;
	text-align: left;
}
.welcome-items .box p {
	color: #C7B399;
}
.welcome-items .box p:hover {
	color: #808080;
}
.section-product-accessories {
	padding-top: 50px;
	padding-bottom: 50px;
}
.btn.btn-custom-color.btn-custom-color-white {
	background-color:rgba(255,255,255,0.01);
	border-color:#1f1f1f;
	color:#1f1f1f;
}
.section-portfolio {
	padding-top:40px;
}
.section-portfolio.color {
	background-color:#f5f5f5;
}
.section-booking {
	padding-top: 30px;
	padding-bottom: 30px;
}
.section-booking .row {
	padding-bottom: 20px;
}
.section-blog,
.section-contact-info {
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-team-2 {
	padding-top: 50px;
	padding-bottom: 150px;
}
.section-testimonial,
.section-portfolio-2 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-pricing {
	padding-top:50px;
	padding-bottom:50px;
	background-color:#f7f7f7;
}
.pricing-items {
	padding-top:100px;
	padding-bottom:50px;
}
.section-chart {
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-chart .pichart-canvas-value {
	font-size: 18px;
}
.section-chart.color {
	background-color:#34495e;
}
.section-chart.color h3 {
	color: #fff;
}
.section-chart.color1 {
	background-color:#1abc9c;
}
.section-chart.color1 .pichart-canvas-value {
	font-size: 30px;
}
.section-chart.color1 h3 {
	color:#ecf921;
}
.section-pricing-table-title {
	padding-top:100px;
	padding-bottom:67px;
}
.section-team-member-title {
	padding-top: 20px;
	padding-bottom: 60px;
}
.section-tooltip-title {
	padding-top: 40px;
	padding-bottom: 40px;
}