/*.bgb {
    height: 650px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
}*/

@media (max-width: 768px) {
    /*.bgb {
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain !important;
    }*/

    .social-widget-wrap {
        text-align: center
    }
}
