<div class="content-container no-padding">
            <div class="container-full register W1200">
                <img src="/Content/images/news/2019101606015572445.jpg" class="main_img" alt="">
                <div class="activity_wrap">
                    <div class="content">
                        <h4 class="f40 f_gold">阿斯坦加瑜珈  Mysore</h4>
                    
                        <div class="info f18">
                            <p class="location icon">台北市忠孝東路四段151號3-9樓</p>
                            <p class="time icon">2019/12/24 19:00 ~ 21:00 </p>
                            
                        </div>
                        <div class="des f18 W100">
                            <p>傳統上Ashtanga Mysore  須在清晨，空腹的狀態下進行。一週練習六天，五天Mysore練習及一天口令課練習，週日或moonday休息。初學者在進入教室之後，老師會先從拜日式A,搭配呼吸開始練習，根據學員的練習狀態和身體條件給予個別的指導調整，觀察指引學員邁向下一個序列動作的時機。
                                Mysore 練習不僅能精進體位法，更能讓學員在規律自律的練習下建立緊密的師生關係，體驗瑜伽練習的精粹精神- Parampara 傳承。
                            </p>
                            <p>傳統上Ashtanga Mysore  須在清晨，空腹的狀態下進行。一週練習六天，五天Mysore練習及一天口令課練習，週日或moonday休息。初學者在進入教室之後，老師會先從拜日式A,搭配呼吸開始練習，根據學員的練習狀態和身體條件給予個別的指導調整，觀察指引學員邁向下一個序列動作的時機。
                                Mysore 練習不僅能精進體位法，更能讓學員在規律自律的練習下建立緊密的師生關係，體驗瑜伽練習的精粹精神- Parampara 傳承。
                            </p>
                            <img src="/Content/images/news/2019101607554120758.jpg" alt="">
                            <p>傳統上Ashtanga Mysore  須在清晨，空腹的狀態下進行。一週練習六天，五天Mysore練習及一天口令課練習，週日或moonday休息。初學者在進入教室之後，老師會先從拜日式A,搭配呼吸開始練習，根據學員的練習狀態和身體條件給予個別的指導調整，觀察指引學員邁向下一個序列動作的時機。
                                Mysore 練習不僅能精進體位法，更能讓學員在規律自律的練習下建立緊密的師生關係，體驗瑜伽練習的精粹精神- Parampara 傳承。
                            </p>
                            <p>傳統上Ashtanga Mysore  須在清晨，空腹的狀態下進行。一週練習六天，五天Mysore練習及一天口令課練習，週日或moonday休息。初學者在進入教室之後，老師會先從拜日式A,搭配呼吸開始練習，根據學員的練習狀態和身體條件給予個別的指導調整，觀察指引學員邁向下一個序列動作的時機。
                                Mysore 練習不僅能精進體位法，更能讓學員在規律自律的練習下建立緊密的師生關係，體驗瑜伽練習的精粹精神- Parampara 傳承。
                            </p>
                            <p class="tag_wrap f_white f14"><span>#瑜珈</span><span>#Mysore</span><span>#Ashtanga Mysor</span><span>#冥想</span></p>
                        </div>
                        <div class="teacher W100">
                            <div class="W50">
                                <div class="img_wrap">
                                    <img src="/Content/images/author/2019121709472626677.jpg" alt="">
                                </div>
                                <div class="f14">授課老師</div>
                                <div class="name f_gold f24">Lilian Chen</div>
                                <div class="pro f_grey f16">阿斯坦加瑜珈, 皮拉提斯, 能量棒系列</div>
                            </div>
                            <div class="W50">
                                <div class="img_wrap">
                                    <img src="/Content/images/author/2019121710102209436.jpg" alt="">
                                </div>
                                <div class="f14">授課老師</div>
                                <div class="name f_gold f24">Amy Lee</div>
                                <div class="pro f_grey f16">阿斯坦加瑜珈</div>
                            </div>

                        </div>
                        
                    </div>
                    <div class="goToForm f_grey f24 t_center">
                        <p class="f24 btn">立即報名</p>
                        <div class="mb_break">
                           <p class="f14">目前人數: 3人</p>
                            <div class="social_wrap">
                                <div class="like"><img src="/images/like.jpg" alt=""></div>
                                <div class="share"><img src="/images/share.jpg" alt=""></div>
                            </div> 
                        </div>
                        
                    </div>
                </div>
                <form action="" class="W100 f18 t_center">
                    <h4 class="f40 f_gold t_center">課程報名</h4>
                    <div class="tr">
                        <div class="th">姓名</div>
                        <div class="td"><input type="text" name="name" placeholder="請填寫您的真實姓名" class="form-control f18" required></div>
                    </div>
                    <div class="tr">
                        <div class="th">E-mail</div>
                        <div class="td"><input type="email" name="email" placeholder="請填寫您的信箱" class="form-control f18" required></div>
                    </div>
                    <div class="tr">
                        <div class="th">行動電話</div>
                        <div class="td"><input type="phone" name="phone" placeholder="請填寫您的手機" class="form-control f18" required></div>
                    </div>
                    <div class="tr">
                        <div class="th">會員編號</div>
                        <div class="td"><input type="text" name="id" class="form-control f18" placeholder=""></div>
                    </div>
                    <button type="submit" class="btn">送出</button>
                </form>
                
            </div>
            <script src="/js/libs/zebra_pin.min.js"></script>
            <script>
                var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
                var isPc = true;
                
                $(function() { 
                    $('.goToForm').on('click','.btn', () => {
                        $body.animate({scrollTop:$('form').offset().top}, 500);
                    })
                    if(window.innerWidth <= 599) {
                        $(window).scroll(event => {
                            var scroll =$(window).scrollTop();
                            var thresheld = $('form').offset().top - window.innerHeight;
                            if (scroll >= thresheld) {
                                $('.goToForm').addClass('Zebra_Pin');
                            } else {
                                $('.goToForm').removeClass('Zebra_Pin');
                            }
                        });
                        isPc = false;
                    } else {
                        new $.Zebra_Pin($('.goToForm'), {
                            contain: true,
                            top_spacing: 70,
                            z_index: 10
                        });
                    }
                });
            </script>
        </div>