
<div class="content-container no-padding">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12 main-wrap">
                <div class="main-content">
                    
                    <div class="row section-clients">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2>課程總覽</h2>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row section-iconbox">
                                    <div class="col-md-12">
                                        <div class="po-class visible-lg">
                                            <div class="pics">
                                                <img src="~/images/allclass/01-1.png" alt="靜態瑜珈">
                                                <img src="~/images/allclass/01.png" alt="靜態瑜珈">

                                            </div>
                                        </div>
                                        <!--phone-->
                                        <div class="visible-xs botbox">
                                            <div class="class_img_div">
                                                <div class="class_mask0">靜態瑜珈<hr />Grounding</div>
                                                <img src="~/images/class/5061.jpg" alt="靜態瑜珈">
                                                <a href="javascript:void(0);">
                                                    <div class="class_mask">

                                                        <div class="row classptext">
                                                            <table class="table table-bordered text-center  indexclasstext">
                                                                <thead>
                                                                    <tr>

                                                                        <td>
                                                                            <div class="classup">靜態瑜珈  Grounding</div>

                                                                        </td>


                                                                    </tr>
                                                                    <tr>

                                                                        <td>
                                                                            <p>哈達瑜珈</p>
                                                                            <p>哈達基礎</p>
                                                                            <p>和緩瑜珈</p>
                                                                            <p>陰瑜珈</p>
                                                                        </td>

                                                                    </tr>

                                                                </thead>

                                                            </table>
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        
                                        <!--phone-->

                                    </div>

                                    <div class="col-sm-12">
                                        <div class="po-class  visible-lg">
                                            <div class="pics">
                                                <img src="~/images/allclass/02-1.png" alt="動態瑜珈">
                                                <img src="~/images/allclass/02.png" alt="動態瑜珈">
                                            </div>

                                        </div>
                                        <!--phone-->
                                        <div class="visible-xs botbox">
                                            <div class="class_img_div">
                                                <div class="class_mask0">動態瑜珈<hr />Dynamic</div>
                                                <img src="~/images/class/5080.jpg" alt="動態瑜珈">
                                                <a href="javascript:void(0);">
                                                    <div class="class_mask">

                                                        <div class="row classptext">
                                                            <table class="table table-bordered text-center  indexclasstext">
                                                                <thead>
                                                                    <tr>

                                                                        <td colspan="2">
                                                                            <div class="classup">動態瑜珈  Dynamic</div>

                                                                        </td>
                                                                     

                                                                    </tr>
                                                                    <tr>

                                                                        <td width="50%">
                                                                            <p>阿斯坦加瑜珈</p>
                                                                            <p>Ashtanga Mysore Style</p>
                                                                            <p>哈達瑜珈</p>
                                                                            <p>流暢瑜珈入門</p>
                                                                         

                                                                        </td>
                                                                        <td  width="50%">
                                                                            <p>流暢瑜珈</p>
                                                                            <p>Yoga Tone</p>
                                                                            <p>核心瑜珈</p>
                                                                            <p>寰宇瑜珈</p>

                                                                        </td>

                                                                    </tr>
                                                                    
                                                                </thead>

                                                            </table>
                                                        </div>
                                                      
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <!--phone-->
                                    </div>

                                    <div class="column col-md-12 col-sm-12">
                                        <div class="po-class  visible-lg">

                                            <div class="pics">
                                                <img src="~/images/allclass/03-1.png" alt="高溫瑜珈">
                                                <img src="~/images/allclass/03.png" alt="高溫瑜珈">
                                            </div>


                                        </div>
                                        <!--phone-->
                                        <div class="visible-xs botbox">
                                            <div class="class_img_div">
                                                <div class="class_mask0">高溫瑜珈<hr />Hot</div>
                                                <img src="~/images/class/5068.jpg" alt="高溫瑜珈">
                                                <a href="javascript:void(0);">
                                                    <div class="class_mask">

                                                        <div class="row classptext">
                                                            <table class="table table-bordered text-center  indexclasstext">
                                                                <thead>
                                                                    <tr>

                                                                        <td >
                                                                            <div class="classup">高溫瑜珈  Hot</div>

                                                                        </td>


                                                                    </tr>
                                                                    <tr>

                                                                        <td>
                                                                            <p>Hot</p>
                                                                            <p>熱動瑜珈</p>
                                                                            <p>溫和伸展</p>


                                                                        </td>
                                                                       
                                                                    </tr>

                                                                </thead>

                                                            </table>
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <!--phone-->
                                    </div>
                                    <div class="column col-md-12 col-sm-12">
                                        <div class="po-class  visible-lg">
                                            <div class="pics">
                                                <img src="~/images/allclass/04-1.png" alt="特色瑜珈">
                                                <img src="~/images/allclass/04.png" alt="特色瑜珈">
                                            </div>

                                        </div>
                                        <!--phone-->
                                        <div class="visible-xs botbox">
                                            <div class="class_img_div">
                                                <div class="class_mask0">特色瑜珈<hr />Specialised</div>
                                                <img src="~/images/class/13023.jpg" alt="特色瑜珈">
                                                <a href="javascript:void(0);">
                                                    <div class="class_mask">

                                                        <div class="row classptext">
                                                            <table class="table table-bordered text-center  indexclasstext">
                                                                <thead>
                                                                    <tr>

                                                                        <td colspan="2">
                                                                            <div class="classup">特色瑜珈  Specialised</div>

                                                                        </td>


                                                                    </tr>
                                                                    <tr>

                                                                        <td width="50%">
                                                                            <p>空中瑜珈</p>
                                                                            <p>瑜珈輪</p>
                                                                            <p>滾筒綜合訓練</p>
                                                                            <p>核心球訓練</p>
                                                                            <p>OXIGENO</p>
                                                                           


                                                                        </td>
                                                                        <td width="50%">
                                                                            <p>皮拉提斯</p>
                                                                            <p>手平衡訓練</p>
                                                                            <p>功能化訓練</p>
                                                                            <p>108大拜式能量棒</p>
                                                                            <p>太極瑜珈能量棒</p>

                                                                        </td>

                                                                    </tr>

                                                                </thead>

                                                            </table>
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <!--phone-->
                                    </div>


                                    <div class="column col-md-12 col-sm-12">
                                        <div class="po-class  visible-lg">
                                            <div class="pics">
                                                <img src="~/images/allclass/05-1.png" alt="修復">
                                                <img src="~/images/allclass/05.png" alt="修復">
                                            </div>


                                        </div>
                                        <!--phone-->
                                        <div class="visible-xs botbox">
                                            <div class="class_img_div">
                                                <div class="class_mask0">修復<hr />Healing</div>
                                                <img src="~/images/class/5084.jpg" alt="修復">
                                                <a href="javascript:void(0);">
                                                    <div class="class_mask">

                                                        <div class="row classptext">
                                                            <table class="table table-bordered text-center  indexclasstext">
                                                                <thead>
                                                                    <tr>

                                                                        <td>
                                                                            <div class="classup">修復  Healing</div>

                                                                        </td>


                                                                    </tr>
                                                                    <tr>

                                                                        <td>
                                                                            <p>肌筋膜放鬆</p>
                                                                            <p>芳療修復瑜珈</p>
                                                                            <p>艾楊格瑜珈</p>
                                                                            <p>艾楊格基礎</p>
                                                                            <p>艾楊格壁繩</p>
                                                                            <p>椅子瑜珈</p>
                                                                        </td>

                                                                    </tr>

                                                                </thead>

                                                            </table>
                                                        </div>

                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <!--phone-->
                                    </div>
                                </div>

                                    
                                    


                                   


                                </div>
                            </div>
                            
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>




