
<div class="content-container no-padding">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12 main-wrap">
                <div class="main-content">
                    <!--siler-->

                    <div class="row">
                        <div class="column col-md-12">
                            <div id="revslider" data-autorun="yes" data-duration="10000" class="carousel slide fade dhslider dhslider-custom " data-height="970">
                                <div class="dhslider-loader">
                                    <div class="fade-loading">
                                        <i></i><i></i><i></i><i></i>
                                    </div>
                                </div>
                                <div class="carousel-inner dhslider-wrap">
                                    <div class="item slider-item active">
                                        <div class="slide-bg " style="background-image:url(/images/4d/03.jpg);"></div>
                                        <div class="slider-overlay"></div>
                                        <div class="slider-caption caption-align-right">
                                            <div class="slider-caption-wrap parallax-content">
                                                <h2 class="slider-heading-text text-center">
                                                    4D 情境式瑜珈
                                                </h2>
                                                <div class="slider-caption-text  text-center">

                                                    全台唯一的4D情境式瑜珈設備<br />
                                                    啟發五感 探索身心靈
                                                </div>
                                                <div class="slider-buttons text-center">
                                                    <a href="#" class="btn btn-default btn-danger btn-style-solid btn-style-round">
                                                        立即體驗
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item slider-item">
                                        <div class="slide-bg " style="background-image:url(/images/4d/02.jpg);"></div>
                                        <div class="slider-overlay"></div>
                                        <div class="slider-caption caption-align-left">
                                            <div class="slider-caption-wrap parallax-content">
                                                <div class="slider-caption-wrap parallax-content">
                                                    <h2 class="slider-heading-text text-center">
                                                        4D 情境式瑜珈
                                                    </h2>
                                                    <div class="slider-caption-text  text-center">

                                                        全台唯一的4D情境式瑜珈設備<br />
                                                        啟發五感 探索身心靈
                                                    </div>
                                                    <div class="slider-buttons text-center">
                                                        <a href="#" class="btn btn-default btn-danger btn-style-solid btn-style-round">
                                                            立即體驗
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ol class="carousel-indicators parallax-content">
                                    <li data-target="#revslider" data-slide-to="0" class="active"></li>
                                    <li data-target="#revslider" data-slide-to="1"></li>
                                </ol>
                                <a class="left carousel-control" href="#revslider" data-slide="prev">
                                    <i class="fa fa-angle-left carousel-icon-prev"></i>
                                </a>
                                <a class="right carousel-control" href="#revslider" data-slide="next">
                                    <i class="fa fa-angle-right carousel-icon-next"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--siler-->


                </div>

            </div>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-wrap">
                <div class="main-content">


                    <div class="entry-content">
                        <p>
                            YOGA EDITION敦南旗艦館位於大安區忠孝東路黃金地段，占地900坪、七層樓高的建物裡，

                            擁有配備齊全的四間大瑜珈教室、兩間私人瑜珈教室，更有全台唯一的4D情境式瑜珈設備。<br />

                            YOGA EDITION首創將情境式投影應用在瑜珈課程，透過高畫質及多角度投影，

                            讓會員彷彿置身蔚藍海洋、幽靜森林或瑜珈靜修聖地，啟發五感引領會員進入瑜珈身心靈的探索。<br />

                            TRUE集團執行長Ken Mok表示：「TRUE集團投入非常多的心血為新會館催生，希望能在擾攘喧囂的都市叢林中，

                            打造一個讓身心靈完全放鬆的恬靜空間，以兼具獨特性、隱密性與功能性的特色，

                            提供有別於市場上瑜珈會館的嶄新服務，為會員帶來截然不同的瑜珈新體驗。」
                        </p>

                        <div class="row">
                            <article class="col-md-4 col-sm-6 hentry">
                                <div class="hentry-wrap">
                                    <div class="entry-featured ">
                                        <a href="#">
                                            <img width="700" height="350" src="~/images/services/1011.jpg" />
                                        </a>
                                    </div>

                                </div>
                            </article>
                            <article class="col-md-4 col-sm-6 hentry">
                                <div class="hentry-wrap">
                                    <div class="entry-featured ">
                                        <a href="#">
                                            <img width="700" height="350" src="~/images/services/1012.jpg" alt="blog" />
                                        </a>
                                    </div>

                                </div>
                            </article>
                            <article class="col-md-4 col-sm-6 hentry">
                                <div class="hentry-wrap">
                                    <div class="entry-featured ">
                                        <a href="#">
                                            <img width="700" height="350" src="~/images/services/1013.jpg" alt="blog" />
                                        </a>
                                    </div>

                                </div>
                            </article>
                        </div>

                        <p>
                            <iframe width="1000" height="515" src="https://www.youtube.com/embed/2mfOIFAKVGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </p>

                    </div>





                </div>
            </div>

        </div>
    </div>
</div>
