<div class="content-container no-padding">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main-content">


                    <div class="row section-contact-info" style="background-image:url(/images/services/free1.jpg);background-repeat: no-repeat; height:1000px;">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2 class="text-center">會員訂課</h2>
                                        <div class="text-block text-center">
                                            <br /> <br />
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <form class="login-form ">
                                <h2 class="text-center">會員登入</h2>
                                <div class="login-p">
                                    即刻登入 <br />展開你的瑜珈旅程!
                                </div>
                                <p class="form-row form-row-wide">

                                    <input type="text" class="input-text1" name="username" value="" required />
                                </p>
                                <p class="form-row form-row-wide">

                                    <input class="input-text1" type="password" name="password" required />
                                </p>
                                <p class="form-row">
                                    <input type="button" class="button1" name="login" value="登入" />

                                </p>
                                <p class="lost_password">
                                    <a href="#">Lost your password?</a>
                                </p>
                            </form>




                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
</div>

